
 .container {
  margin: 20 auto;
  max-width: 1800px;
}

.heading {
  background-color: #923232;
  text-align: center;
  padding: 100px;
}

.heading h1 {
  font-size: 72px;
  margin: 0;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.content {
  font-size: 31px;
  line-height: 1.5;
  margin: 0 30px;
  margin-top: 30px;
  padding: 20px;
  text-align: justify;
}